body{
    margin: 20px;
}


div{
    background-color: black;
    color: white;
    border-top: solid black;
    border-bottom: solid blue;
    border-left: solid orange;
    border-right: solid red;
    border-width: 20px;
    border-radius: 50px;
    border-style: dashed;
}