body{
    margin: 20px;
}


div{
    border-top: solid black;
    border-bottom: solid blue;
    border-left: solid orange;
    border-right: solid red;
    border-width: 20px;
    border-radius: 50px;
    border-style: dashed;
}