body{
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px ;
}

p{
    font-size: 2em;
    background-color: black;
    color: white;
    height: 150px;
    width: 80%;
    padding: 100px;
    margin: 100px;
}